* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* KEYFRAMES */

@keyframes pipe-animation {
    from {
         right: 0; 
    }
    to { 
        right: 100%;
     }
}

.game-board {
    width: 80%;
    height: 500px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite;

}