/* Reset Css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* KEYFRAMES */

@keyframes pipe-animation { /*Pipe*/
    from {
         right: -80px; 
    }
    to { 
        right: 100%;
     }
}

@keyframes mario-jump { /*Mario jump*/
    0% {
        bottom: 0;
    }

    40% {
        bottom: 170;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 170px;
    }

    100% {
        bottom: 0;
    }

}

    @keyframes cloudsMove { /*Movimento das nuvens*/
        from {
            right: -400px;
        }

        to {
            right: 100%;
        }
    }


/* DEFINIÇÕES DAS CLASSES */


.game-board {
    margin-top: 5%;
    width: 80%;
    left: 10%;
    height: 450px;
    border-bottom: 15px solid green;
    background: linear-gradient(#87ceeb, white);
    position: relative;
    overflow: hidden;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.4s infinite linear;

}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: mario-jump 500ms ease-out;

}

.clouds {
    position: absolute;
    width: 400px;
    animation: cloudsMove 5s infinite linear; 
}